body {
    background: #f7f6f6;
}

.stepper {
    display: flex;
    padding: 0;
    width: auto;
    list-style: none;
    position: relative;

    &::before {
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        content: "";
        width: calc(100% - 20px);
        background: #e7e7e7;
    }
}

.stepper__item {
    flex: 100%;
    padding: 20px 20px 20px 40px;
    margin: 0 0 0 -19px;
    -webkit-clip-path: polygon(
        20px 50%,
        0% 0%,
        calc(100% - 20px) 0%,
        100% 50%,
        calc(100% - 20px) 100%,
        0% 100%
    );

    &.current {
        background: #fff;
        font-weight: bold;
        color: #2075f3;
    }
    &:last-child {
        -webkit-clip-path: polygon(
            20px 50%,
            0% 0%,
            100% 0%,
            100% 100%,
            0% 100%
        );
    }
}

nav {
    display: flex;
    justify-content: left;
    align-items: center;
    border: none;
    padding-left: 6%;
}

.nav-item {
    padding: 20px;
    text-decoration: none;
    color: black;
}

.active {
    border-bottom: 2px solid blue;
}

.img {
    width: 100%;
    max-width: 10%;
    padding-right: 30px;
}
@media (max-width: 1500px) {
    .img {
        max-width: 10%;
        padding-right: 10px;
    }
}
@media (max-width: 1200px) {
    .img {
        max-width: 14%;
        padding-right: 10px;
    }
}
@media (max-width: 1000px) {
    .img {
        max-width: 14%;
        padding-right: 10px;
    }
}
@media (max-width: 800px) {
    .img {
        max-width: 16%;
        padding-right: 10px;
    }
}
@media (max-width: 600px) {
    .img {
        max-width: 20%;
        padding-right: 10px;
    }
}
@media (max-width: 400px) {
    .img {
        max-width: 20%;
        padding-right: 10px;
    }
}
@media (max-width: 400px) {
    .img {
        max-width: 30%;
        padding-right: 10px;
    }
}
.tick {
    width: 19%;
    padding-right: 5%;
}
.stepper__item {
    list-style: none;
    display: flex;
    align-items: center;
    background-color: #fff !important;
}

.box {
    margin-left: 4%;
    margin-right: 4%;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.2); /* Box shadow effect */
    padding: 37px;
    background-color: #fff !important;
}

.textcss {
    color: rgb(118, 115, 115);
}
.row {
    display: flex;
}

.column {
    flex: 50%;
    padding: 10px;
    height: fit-content;
}

.imgside {
    width: 100%;
}

@media (max-width: 500px) {
    .imgside {
        margin-top: 0px;
    }
    .stepper {
        flex-direction: column;
    }
    .stepper__item {
        padding-left: 40px;
        padding-right: 20px;
        padding-bottom: 2px;
    }
    .tick {
        width: 14%;
    }
}

@media (max-width: 700px) {
    .row {
        flex-direction: column;
    }
}
.imgside4 {
    width: 100%;
    padding-left: 20%;
    margin-top: 20%;
}

.imgside5 {
    width: 100%;
    padding-left: 20%;
    margin-top: 40%;
}
#action-buttons-container {
    position: fixed;
    bottom: 0;
    width: -webkit-fill-available;
    margin-left: 4%;
    margin-right: 4%;
}

.btncss {
    background-color: #1386be;
    margin-right: 0.5%;
}

.btn-success:hover {
    color: #fff;
    background-color: #1386be;
    border-color: #1386be !important;
}

.btn-success:focus,
.btn-success.focus {
    box-shadow: 0 0 0 0.2rem rgb(19 134 190) !important;
}

.btn-success {
    border-color: #1386be;
}

.action-buttons {
    background-color: transparent !important;
}
